
/*FOOTER*/

#footer{
    background-color:#071A5F;
    color: white;
    padding: 20px 0;
}

#footer ul{
    padding: 0;
}

#footer li{
    list-style: none;
}

.Container_footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.Container_footer h4{
    margin: 1rem 0;
}

.Container_footer li a{
    color: wheat;
}

.Conver_footer img{
    width: 35px;
}

.Conver_footer li{
    margin-right: 1rem;
}

.Creds_Footer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: #ccc;
    max-width: 1200px;
    margin: 0 auto;

}

.Legal_Footer ul{
    display: flex;
    flex-wrap: wrap;
}

.Legal_Footer ul li{
    padding-right: 1rem;
}

.Legal_Footer ul li a{
    color:#A5B2E0;
    font-size: 1rem;
}