#Inicio_Sesion{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 100px;
}


.formulario h1{
    text-align: center;
    padding: 0 0 10px 0;
}

.registrarse{
    text-align: center;
    padding: 10px 0 0px 0;
}


/*
.username input:focus label,
.username input:focus label{
    width: 100%;
    color:#6C3483;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}
    */

    
/*FORMULARIO DE INSCRIPCION*/
#form{
    border: 1px solid #2c03f7;
    border-radius: 15px;
    width: 550px;
    margin: 150px 0 0px 320px;
}


#form ol{
    list-style: none;
}

#form ol li{
    padding-bottom: 30px;
}

#form ol li label{
    width: 200px;
    float: left;
    text-align: left;
}

#form input[type= text]{
    border: 2px solid #bcb6dc;
    border-radius: 8px;
}

#form select{
    width: 100px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #fff;
}

#form input.btn{
    padding: 5px;
    color: black;
    background-color: rgb(236, 220, 201);
    border: solid #732fe7;
    border-radius: 8px;
    width: 90px;
    height: 40px;
}

#Inscripcion{
    padding-top: 200px;
    padding-bottom: 300px;
}