body {
    font-family: 'Open Sans', sans-serif;
}

.Menu-horizontal {
    list-style: none;
    display: flex;
}

.Menu-horizontal > li > a {
    display: block;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
}

.Menu-horizontal > li:hover {
    background-color: rgb(231, 131, 131);
}

.Menu-vertical {
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(231, 131, 131);
}

.Menu-horizontal li:hover .Menu-vertical {
    display: block;
}

.Menu-vertical li:hover {
    background-color: black;
}

.Menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

.Menu-horizontal > li > a > span {
    margin-right: 50px;
}

.topheader {
    position: fixed;
    background-color: #4667db;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 120px;
    justify-content: center;
    align-items: center;
}

#mr {
    margin-top: 150px; /* Añade un margen superior para separar del header */
    padding: 0 20px;
}

.titulo {
    text-align: left; /* Alinea el título a la izquierda */
    margin-bottom: 20px; /* Añade un margen inferior para separar del contenido */
}

.contenedor-mr-content {
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
}

.imagen-about-us {
    width: 45%; /* Ajusta el ancho de la imagen */
    margin-right: 20px;
    border: 3px solid #000; /* Añade un borde sólido de 2px de color negro */
    border-radius: 20px; /* Bordes redondeados opcional */
    padding: 5px; /* Espacio entre la imagen y el borde */
}

.contenido-texto {
    width: 45%; /* Ajusta el ancho del texto */
}

.contenido-texto h2 {
    margin-bottom: 15px;
}

.contenido-texto h4 {
    margin-bottom: 15px;
    text-align: justify;
}

.contenido-texto h3 {
    margin-bottom: 15px;
    text-align: justify;
    color: #071a5f
}

.contenido-texto p {
    padding: 20px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6; /* Ajuste del espacio entre líneas */
}